# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/

# Mac
.DS_Store

# Django stuff:
*.log
local_settings.py
db.sqlite3


votings/

scrape_votings/votings
staticfiles/
dbconfig.sh
