{% extends "base.html" %}
{% block title %} Details {% endblock %}

{% block scripts %}
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#faction_select').on('change', function() {
            if(this.value == "all") {
                $(".faction_row").show()
            }
            else {
                $(".faction_row").hide()
                $("." + this.value).show()
          }
        });
        var chart_data = {
            labels: {{ vote_labels|safe }},
            datasets: [{
                data: {{ votes|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(150, 247, 134, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(240, 236, 129, 0.4)',
                    'rgba(112, 174, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                hoverBackgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(150, 247, 134, 0.8)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(240, 236, 129, 0.8)',
                    'rgba(112, 174, 255, 0.8)',
                    'rgba(255, 159, 64, 0.2)'
                ],

                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(150, 247, 134, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(240, 236, 129, 1)',
                    'rgba(112, 174, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
            };
        var ctx = $('#chart');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',
        data: chart_data,
            options: {
                title:{
                    display: true,
                    text: "Stimmenverteilung"
                },
            legend: {
                      display: true,
                      position: 'bottom',
                      labels: {
                        fontColor: "#000080",
                      }
                    },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var chart_data_faction_votes = {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Ja',
                data: {{ vote_counts.0|safe }},
                backgroundColor: 'rgba(150, 247, 134, 0.2)',
                hoverBackgroundColor: "rgba(150, 247, 134, 0.8)",
                borderColor: 'rgba(150, 247, 134, 1)',
                borderWidth:1
                },
                {
                label: 'Nein',
                data: {{ vote_counts.1|safe }},
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                hoverBackgroundColor: "rgba(255, 99, 132, 0.8)",
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth:1
                },
                {
                label: 'Enthalten',
                data: {{ vote_counts.2|safe }},
                backgroundColor: 'rgba(240, 236, 129, 0.4)',
                hoverBackgroundColor: "rgba(240, 236, 129, 0.8)",
                borderColor: 'rgba(254, 236, 129, 1)',
                borderWidth:1
                },
                {
                label: 'Nicht abgegeben',
                data: {{ vote_counts.3|safe }},
                backgroundColor: 'rgba(112, 174, 255, 0.2)',
                hoverBackgroundColor: "rgba(112, 174, 255, 0.8)",
                borderColor: 'rgba(112, 174, 255, 1)',
                borderWidth:1
                 }]
            };
                var ctx1 = $('#chart2');
        var chart1 = new Chart(ctx1, {
        // The type of chart we want to create
        type: 'bar',
        data: chart_data_faction_votes,
            options: {
                legend: {
                      display: true,
                      position: 'bottom',
                      labels: {
                        fontColor: "#000080",
                      }
                    },

                title:{
                    display: true,
                    text: "Stimmen nach Parteien"
                },
                scales: {
                    xAxes: [{stacked: true}],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        $('#chart_select').on('change', function() {
    chart.destroy();
    chart = new Chart(ctx, {
    type: this.value,
    data: chart_data,
    options: {
        title:{
                display: true,
                text: "Stimmenverteilung"
            },
        legend: {
                  display: true,
                  position: 'bottom',
                  labels: {
                    fontColor: "#000080",
                  }
                },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
  });
});

    });
    </script>

{% endblock %}
{% block request_path %}{{ request.path }}{% endblock %}
{% block content %}
    <h2>{{ specific_voting.genre }}</h2>
    <h1>{{ specific_voting.topic }}</h1>
    <p>{{ specific_voting.description }}</p>
    <p>{{ specific_voting.date }}</p>
    <div class="chart-container" style="width: 800px; margin:auto;float: left">
        <canvas id="chart"></canvas>
    <select id="chart_select" class="browser-default custom-select">
        <option value="doughnut">Doughnut</option>
        <option value="line">Line</option>
        <option value="bar">Bar</option>
        <option value="radar">Radar</option>
        <option value="pie">Pie</option>
        <option value="polarArea">Polar area</option>
        <option value="bubble">Bubble</option>
        <option value="scatter">Scatter</option>
    </select>
        <select id="faction_select" class="browser-default custom-select" style="width: 50%;float: left;">
        <option value="all">Alle Parteien anzeigen</option>
        {% for faction in factions %}
            <option value="{{ faction|cut:" "|cut:"/" }}">{{ faction }}</option>
        {% endfor %}
    </select>
    </div>

<div style="float: right;width: 800px;">
<canvas id="chart2"></canvas>
</div>
        <table id="faction_table" class="table">
            <thead>
                <tr>
                    <th>Faction</th>
                    <th>Name</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
            <!-- tuple of politician object - integer-->
            {% for politician in politicians %}
                <tr class="{{ politician.0.faction|cut:" "|cut:"/" }} faction_row" >
                    <td><button type="submit" form="datetime_picker_form" formaction="{% url 'faction' name=politician.0.faction %}" class="btn btn-primary">{{ politician.0.faction }}</button></td>
                    <td><button type="submit" form="datetime_picker_form" formaction="{% url 'politician' politician_id=politician.0.id %}" class="btn btn-primary">{{ politician.0.pre_name }} {{ politician.0.name }}</button></td>
                    <!-- vote-->
                <!-- TODO: coloring does not work somehow -->
                    <td {% if politician.1 == 'Ja' %} style="color: green;" {% elif politician.1 == 'Nein' %} style="color: red;" {% elif politician.1 == 'Nicht abgegeben' %} style="color: grey"; {% elif politician.1 == 'Enthalten' %} style="color: brown;" {% endif %}>
                        {{ politician.1 }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

{% endblock %}
