{% extends "base.html" %}
{% load voting_behaviour_extras %}
{% block title %} Votes for {{ genre }} {% endblock %}

{% block request_path %}{{ request.path }}{% endblock %}

{% block content %}
    <h2> Genre: {{ name }}</h2>
<table class="table">
<thead>
<tr>
<th></th>
    {% for vote in vote_options %}
        <th>{{ vote }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
    {% for key, votes in objects.items %}
        <tr>
        <th>{{ key }}</th>
        {% for vote in vote_options %}
            <td>{{ votes|dict_access:vote }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
