{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block scripts %}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
    $(document).ready(function(){


        var chart_data = {
            labels: {{ genre_labels|safe }},
            datasets: [{
                label: '# of Votings',
                data: {{ genre_counts|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
            };
        var ctx = $('#chart');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        data: chart_data,
            options: {
            'onClick' : (evt, item) => {
                if(item.length > 0){
                    var genre_name = item[0]._model['label'];
                    var url = "{% url 'genre' name='123qwe' %}";
                    //alert(url.replace('123qwe', genre_name));

                    //location.href = url.replace('123qwe', genre_name);
                    $('#datetime_picker_form').attr('action', url.replace('123qwe', genre_name));
                    $('#datetime_picker_submit').click();
                }

            },
            'onHover' :(evt, item) => {
                    evt.target.style.cursor = item[0] ? 'pointer' : 'default';
            },
                    legend: {
            labels: {
                fontColor: "red ",
                fontSize: 18
            },
                        display: false
        },
                title:{
                    display: true,
                    text: "There have been {{ number_of_votings }} votings from {{ start_date }} to {{ end_date }}."
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    });
    </script>
    <style type="text/css">table tbody tr:last-child td{border-top: 5px solid aliceblue} input, label {
    display:block;
}</style>
{% endblock %}
{% block request_path %}{{ request.path }}{% endblock %}

{% block content %}
    <div class="container" align="center">
    <h1>Dashboard for Voting Behavior</h1>
    <div>

        <div class="chart-container" style="width: 500px; float: right;">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <div style="clear: both;"></div>
    <h3>Individual parties and respective votes</h3>
    <table class="table">
    <thead>
    <tr>
    <th>Faction</th>
        {% for val in faction_votes.values %}
            {% if forloop.first %}
                {% for vote in val.keys %}
                      <th>{{ vote }}</th>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for key, val in faction_votes.items %}
            <tr><td><button type="submit" form="datetime_picker_form" formaction="{% url 'faction' name=key %}" class="btn btn-primary">{{ key }}</button></td>
            {% for vote, count in val.items %}
                <td>{{ count }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
            <tr>
            <td>Total</td>
                {% for count in total_votes.values %}
                <td>{{ count }}</td>
                {% endfor %}
            </tr>
    </tbody>
    </table>
    </div>
{% endblock %}