{% extends "base.html" %}
{% load voting_behaviour_extras %}
{% block title %} Index {% endblock %}
{% block scripts %}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
    $(document).ready(function(){

    $("#toggle-voting-sidebar").on("click", function () {
        if ($("#voting-sidebar").hasClass('closed')) {
            $("#voting-sidebar").removeClass('closed');
            $("#voting-sidebar").addClass('opened');
            $("#voting-sidebar").css('width', '30%');
            $("#content").css('marginRight', '30%');
        }
        else if ($("#voting-sidebar").hasClass('opened')) {
            $("#voting-sidebar").removeClass('opened');
            $("#voting-sidebar").addClass('closed');
            $("#voting-sidebar").css('width', '0');
            $("#content").css('marginRight', '0');
        }
    });

        var chart_data = {
            labels: {{ genre_labels|safe }},
            datasets: [{
                label: '# of Votings',
                data: {{ genre_counts|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
            };
        var ctx = $('#chart');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        data: chart_data,
            options: {
            'onClick' : (evt, item) => {
                if(item.length > 0){
                    var genre_name = item[0]._model['label'];
                    var url = "{% url 'genre' name='123qwe' %}";
                    //alert(url.replace('123qwe', genre_name));

                    //location.href = url.replace('123qwe', genre_name);
                    $('#datetime_picker_form').attr('action', url.replace('123qwe', genre_name));
                    $('#datetime_picker_submit').click();
                }

            },
            'onHover' :(evt, item) => {
                    evt.target.style.cursor = item[0] ? 'pointer' : 'default';
            },
                    legend: {
            labels: {
                fontColor: "red ",
                fontSize: 18
            },
                        display: false
        },
                title:{
                    display: true,
                    text: "Vom {{ start_date }} bis zum {{ end_date }} gab es {{ voting_count }} Abstimmungen."
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    });
    </script>
    <style type="text/css">
        #vote_counts tbody tr:last-child td{border-top: 5px solid aliceblue}
        input, label {display:block;}
        .arrow-right {
              border: solid #007bff;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 3px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
            }

    .row1 {background-color: #aaaaaa}
    .row2 {background-color: grey}
    #voting-sidebar {
        height: 100%;
        width: 0px;
        margin-left: 0px;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 20px;
        overflow-x: hidden;
        color: white;
        border-left: 1px solid black;
    }
    </style>
{% endblock %}
{% block request_path %}{{ request.path }}{% endblock %}

{% block content %}
    <button id="toggle-voting-sidebar" style="float: right;" class="btn btn-primary">Letzte Abstimmungen</button>
    <div style="width: 100%;" align="center">
    <h1>Dashboard - Bundestagsabstimmungen</h1>
    <div>
        <div class="chart-container" style="width: 1000px; margin: auto;">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <div style="clear: both; padding-top: 100px"></div>
    <h3>Individuelle Parteien und deren Stimmen</h3>
    <table class="table" id="vote_counts">
    <thead>
    <tr>
    <th>Faction</th>
        {% for val in faction_votes.values %}
            {% if forloop.first %}
                {% for vote in val.keys %}
                      <th>{{ vote }}</th>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for key, val in faction_votes.items %}
            <tr><td><button type="submit" form="datetime_picker_form" formaction="{% url 'faction' name=key %}" class="btn btn-primary">{{ key }}</button></td>
            {% for vote, count in val.items %}
                <td>{{ count }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
            <tr>
            <td>Summe</td>
                {% for count in total_votes.values %}
                <td>{{ count }}</td>
                {% endfor %}
            </tr>
    </tbody>
    </table>
    </div>
    <div id="voting-sidebar" class="closed">
        <h3>Die letzten 10 Abstimmungen</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Zeit</th>
                    <th>Genre</th>
                    <th>Beschreibung</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for voting in last_ten_votings %}
                    <tr>
                        <td>Vor {{ voting.date|date_difference }} Tagen</td>
                        <td>{{ voting.genre }}</td>
                        <td>{{ voting.topic }}</td>
                        <td>{% if voting.voting_id %}<button type="submit" class="btn btn-link" form="datetime_picker_form" formaction="{% url 'detail' voting.voting_id %}"><i class="arrow-right"></i></button>{% else %} - {% endif %}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}