{% extends "base.html" %}
{% load voting_behaviour_extras %}
{% block title %} Details {% endblock %}
{% block scripts %}
   <script type="text/javascript">jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});</script>
{% endblock %}
{% block content %}
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Topic</th>
            <th>Genre</th>
            <th>Datum</th>
            <th>Beschreibung</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody>
        {% for voting in all_votings %}
          <tr class="clickable-row" data-href="{% url 'detail' voting.voting_id %}">
            <td>{{ voting.voting_id }}</td>
            <td>{{ voting.topic }}</td>
            <td>{{ voting.genre }}</td>
            <td>{{ voting.date }}</td>
            <td>{{ voting.description }}</td>
            <td>{{ voting.votes }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}