{% extends "base.html" %}
{% load voting_behaviour_extras %}
{% block scripts %}
 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
    $(document).ready(function(){



        var chart_data = {
            labels: {{ genre_labels|safe }},
            datasets: [{
                label: 'Ja',
                data: {{ genre_options_count.0|safe }},
                backgroundColor: 'rgba(150, 247, 134, 0.2)',
                hoverBackgroundColor: "rgba(150, 247, 134, 0.8)",
                borderColor: 'rgba(150, 247, 134, 1)',
                borderWidth:1
                },
                {
                label: 'Nein',
                data: {{ genre_options_count.1|safe }},
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                hoverBackgroundColor: "rgba(255, 99, 132, 0.8)",
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth:1
                },
                {
                label: 'Enthalten',
                data: {{ genre_options_count.3|safe }},
                backgroundColor: 'rgba(240, 236, 129, 0.4)',
                hoverBackgroundColor: "rgba(240, 236, 129, 0.8)",
                borderColor: 'rgba(240, 236, 129, 1)',
                borderWidth:1
                },
                {
                label: 'Nicht abgegeben',
                data: {{ genre_options_count.2|safe }},
                backgroundColor: 'rgba(112, 174, 255, 0.2)',
                hoverBackgroundColor: "rgba(112, 174, 255, 0.8)",
                borderColor: 'rgba(112, 174, 255, 1)',
                borderWidth:1
                 }]
            };
        var ctx = $('#chart');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        data: chart_data,
            options: {
                legend: {
      display: true,
      position: 'bottom',
      labels: {
        fontColor: "#000080",
      }
    },

                title:{
                    display: true,
                    text: "Von {{ start_date }} bis {{ end_date }} gab es {{ voting_count }} Abstimmungen."
                },
                scales: {
                    xAxes: [{stacked: true}],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    });
    </script>
{% endblock %}
{% block title %} Abstimmungen für {{ politician.pre_name }} {{ politician.name }} {% endblock %}

{% block request_path %}{{ request.path }}{% endblock %}

{% block content %}
    <div align="center">
        <h2>Abstimmungen von {{ start_date }} bis {{ end_date }}</h2>
        {% if voting_count == 0 %}
            <h3 style="color: red; margin-top: 150px;"> Keine Abstimmungen für {{ politician.pre_name }} {{ politician.name }} ({{ politician.faction }})in der gewählten Zeitspanne</h3>
            Die letzte Abstimmung an der {{ politician.pre_name }} {{ politician.name }} ({{ politician.faction }}) teilgenommen hat fand am {{ last_voting.date }} statt.
        {% else %}
            <h3>{{ politician.pre_name }} {{ politician.name }} ({{ politician.faction }})</h3>
            <div class="chart-container" style="width: 1000px; margin:auto">
                <canvas id="chart"></canvas>
            </div>
            {% include "dashboard/voting_table.html" with votings=votings individual_votes=individual_votes%}
        {% endif %}
    </div>
{% endblock %}
