<table class="table">
    <thead>
    <tr>
        {% for vote in votings %}
            {% if forloop.first %}
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Topic</th>
                    <th>Genre</th>
                    <th>Abstimmungen</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for vote in votings %}
        <tr>
            <td>{% if vote.voting_id %}<button type="submit" class="btn btn-primary" form="datetime_picker_form" formaction="{% url 'detail' vote.voting_id %}">{{ vote.voting_id }}</button>{% else %} - {% endif %}</td>
            <td>{{ vote.date }}</td>
            <td>{{ vote.description }}</td>
            <td>{{ vote.topic }}</td>
            <td>{% if vote.genre %}<button type="submit" class="btn btn-primary" form="datetime_picker_form" formaction="{% url 'genre' vote.genre %}">{{ vote.genre }}</button>{% else %} - {% endif %}</td>
            <td>{% if vote.votes %}<table class="table"><thead><tr>
                {% for key in vote.votes.keys %}
                    <th>{{ key }}</th>
                {% endfor %}</tr></thead><tbody><tr>
                {% for val in vote.votes.values %}
                    <td>{{ val }}</td>
                {% endfor %}</tr></tbody></table>
        {% else %} - {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>