{% load voting_behaviour_extras %}
<h2 align="center">{{ votings|length }} Abstimmungen für den Zeitraum vom {{ start_date }} bis zum {{ end_date }}</h2>
<table class="table">
    <thead>
    <tr>
        {% for voting in votings %}
            {% if forloop.first %}
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Topic</th>
                    <th>Genre</th>
                    <th>Abstimmungen</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% if individual_votes %}
            {% for voting, vote in votings|zip:individual_votes %}
            <tr{% if vote == 'Ja' %} style="background-color: #96F786"{% elif vote == 'Nein' %} style="background-color: #FF6384"{% elif vote == 'Enthalten' %} style="background-color: #F0EC81"{% elif vote == 'Nicht abgegeben' %} style="background-color: #70AEFF"{% endif %}>
                <td>{% if voting.voting_id %}<button type="submit" class="btn btn-primary" form="datetime_picker_form" formaction="{% url 'detail' voting.voting_id %}">{{ voting.voting_id }}</button>{% else %} - {% endif %}</td>
                <td>{{ voting.date }}</td>
                <td>{{ voting.description }}</td>
                <td>{{ voting.topic }}</td>
                <td>{% if voting.genre %}<button type="submit" class="btn btn-primary" form="datetime_picker_form" formaction="{% url 'genre' voting.genre %}">{{ voting.genre }}</button>{% else %} - {% endif %}</td>
                <td>{% if voting.votes %}<table class="table"><thead><tr>
                    {% for key in voting.votes.keys %}
                        <th>{{ key }}</th>
                    {% endfor %}</tr></thead><tbody><tr>
                    {% for val in voting.votes.values %}
                        <td>{{ val }}</td>
                    {% endfor %}</tr></tbody></table>
            {% else %} - {% endif %}</td>
            </tr>
            {% endfor %}
        {% else %}
            {% for voting in votings %}
            <tr>
                <td>{% if voting.voting_id %}<button type="submit" class="btn btn-primary" form="datetime_picker_form" formaction="{% url 'detail' voting.voting_id %}">{{ voting.voting_id }}</button>{% else %} - {% endif %}</td>
                <td>{{ voting.date }}</td>
                <td>{{ voting.description }}</td>
                <td>{{ voting.topic }}</td>
                <td>{% if voting.genre %}<button type="submit" class="btn btn-primary" form="datetime_picker_form" formaction="{% url 'genre' voting.genre %}">{{ voting.genre }}</button>{% else %} - {% endif %}</td>
                <td>{% if voting.votes %}<table class="table"><thead><tr>
                    {% for key in voting.votes.keys %}
                        <th>{{ key }}</th>
                    {% endfor %}</tr></thead><tbody><tr>
                    {% for val in voting.votes.values %}
                        <td>{{ val }}</td>
                    {% endfor %}</tr></tbody></table>
            {% else %} - {% endif %}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    </table>